<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input formControlName="username" placeholder="Username" />
    <input formControlName="email" placeholder="Email" />
    <input formControlName="firstName" placeholder="First Name" />
    <input formControlName="lastName" placeholder="Last Name" />
    <input type="password" formControlName="password" placeholder="Password" />
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
    <button type="submit">Register</button>
    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
</div>
