<div class="container">
  <header class="bg-info" style="height: 90px"></header>
  <nav>
  <nav class="navbar navbar-expand bg-warning">
  <ul class="navbar-nav">
    <li class="nav-item">
     <a class="nav-link" href="#" routerLink="/" routerLinkActive="active">Homepage</a> 
    </li>
    <li class="nav-item">
     <a class="nav-link" href="#" routerLink="login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="register" routerLinkActive="active">Register</a>
    </li>
  </ul>
  </nav>
  </nav>
  <main class="d-flex" style="min-height: 300px;">
    <article class="col-md-9 bg-body-secondary"> 
        <router-outlet></router-outlet>
    </article>
    <aside class="col-md-3 bg-info-subtle"> </aside>
  </main>
</div>